/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background: #62B6CB;
}

body h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font:  150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}

body table {
	padding-right: 80px;
	border-collapse: collapse;
	width: 100%;
}

body table tr, td {
	height: 50px;
}

body table th, td {
	border-bottom: 1px solid #1B4965;
}

tr:hover {background-color: #5FA8D3}

